* {
  box-sizing: border-box;
}

body {
  background-image: url("https://scontent-sjc3-1.xx.fbcdn.net/v/t1.6435-9/42889965_1993818660698004_7847523832456806400_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=DEQwWfDeLEwAX9V02dW&_nc_ht=scontent-sjc3-1.xx&oh=00_AT_4LsLp9L0crzxxOAw9Y55kBAWliNroUq0EnB9V07Z-GQ&oe=636C7754");
  background-position: center center;
  background-size: cover;
  height: 95vh;
  font-family: monospace, Sans-Serif;
}

h1, h4 {
  color: greenyellow;
}

.btn, button {
  color: greenyellow;
  background-color: #333333;
}

h1 {
  text-align: center;
}

h4 {
  margin: 20px;
}

div#control-panel {
  margin: 20px;
  padding: 10px;
  text-align: left;
  color: greenyellow;
  background-color: #222222;
}

div#control-panel h1,
div#control-panel h4,
div#control-panel div {
  margin: 0;
  padding: 5px;
  text-align: left;
}

span#timer {
  float: right;
}

.timer-normal {
  color: green;
}

.timer-warning {
  color: red;
}

div#control-panel div#passcode {
  margin: 10px;
  padding: 2px;
  color: greenyellow;
  background-color: #151515;
}

.input-display-collapsed {
  min-height: 0;
  display: none;
}

.bottom{

  position: fixed;
  bottom: 0;
  /*top: 70vh;*/
  /*Very dirty width.. why is the position not even when width: 100%? For some
  for some reason it seems to be starting 8px from the border of the page
  problem seems to be with the position/top/bottom, etc. */
  width: 100%;
}

span.passcode {
  display: inline-block;
  margin: 2px;
  min-height: 16px;
  min-width: 16px;
  color: white;
  background-color: green;
  text-align: center;
}
