* {
  box-sizing: border-box;

}


h1, h2, h3, h4, .terminal, .btn, .container > button {
  color: white;
  background-color: black;
}

h1 {
  text-align: center;
}

h1#img {
  margin: 110px 0px 110px 0px;
}

h4 {
  margin: 20px;
}

body {
  background-image: url("https://images.unsplash.com/photo-1621198777376-d776b7725a93?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1035&q=80");
  background-position: center center;
  background-size: 100% 100%;
  height: 100vh;
  font-family: monospace, Sans-Serif;
}

div#control-panel {
  margin: 20px;
  padding: 10px;
  text-align: left;
  color: white;
  background-color: #222222;
}

div#control-panel h1,
div#control-panel h2,
div#control-panel h3,
div#control-panel h4,
div#control-panel div {
  margin: 0;
  padding: 5px;
  text-align: left;
  color: white;
  background-color: #222222;
}

span#timer {
  float: right;
}

.timer-normal {
  color: white;
}

.timer-warning {
  color: red;
}
